body {
    margin: 0;
    overflow: hidden;
    background: transparent;
    font-family: sans-serif;
}

#game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#aquarium {
    width: 142px;
    height: 100px;
    position: relative;
    transform: scale(3);
    transform-origin: bottom right;
    image-rendering: pixelated;
    margin-bottom: 50px;
    margin-right: 20px;
}

.full-scene {
    position: absolute;
    width: 142px;
    height: 100px;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-size: 142px 100px;
    background-position: bottom left;
    background-repeat: no-repeat;
}

#bg { background-image: url('./assets/bg.png'); background-color: transparent; }
#layer4 { background-image: url('./assets/layer4.png'); }
#layer3 { background-image: url('./assets/layer3.png'); }
#layer2 { background-image: url('./assets/layer2.png'); }
#layer1 { background-image: url('./assets/layer1.png'); }
#front { background-image: url('./assets/front.png'); }

.entity {
    position: absolute;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
}

.frog {
    width: 17px;
    height: 9px;
    background-image: url('./assets/jabba.png');
    transition: left 0.2s linear, bottom 0.2s linear;
}

.food {
    width: 4px;
    height: 4px;
    background-color: #e74c3c;
}

.grass {
    width: 18px;
    height: 16px;
    background-image: url('./assets/grass.png');
}

.stone {
    width: 15px;
    height: 7px;
    background-image: url('./assets/stone.png');
}

#ui {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #222;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

button {
    padding: 8px;
    cursor: pointer;
    background: #444;
    color: white;
    border: 1px solid #666;
    border-radius: 4px;
    margin-right: 5px;
}